@use "public/styles/mixinHelper";
@use "public/styles/globalVariables";

.container {
  max-width: 1440px;
  padding: 95px 70px;
  background: var(--bg-header-container);
  height: 462px;
  border-radius: 50px;
  margin: 5rem auto 0;

  @include mixinHelper.onTablet {
    padding: 35px 20px;
    height: 100%;
    border-radius: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;

  @include mixinHelper.onTablet {
    margin-left: 0;
    align-items: center;
    gap: 10px;
  }


  .internal_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 100px;

    @include mixinHelper.onDesktop {
      margin-left: 20px;
    }

    @include mixinHelper.onTablet {
      margin-left: 0;
    }

    a {
      font-size: 16px;
      font-weight: 500;
      height: fit-content;
      padding: 10px;
    }

    .logo {
      @include mixinHelper.center-content;
      font-size: 20px;
      font-weight: bold;
      gap: 0 15px;
      padding: 0;

      span {
        color: var(--text-color);
      }
    }
  }

  .right_content {
    display: flex;
    gap: 20px;
    width: fit-content;
  }
}

.content_section {
  display: flex;
  flex-direction: row;
  margin-top: 86px;
  gap: 30px;

  @include mixinHelper.onTablet {
    margin-top: 50px;
  }
}

.left_content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 100px;

  @include mixinHelper.onDesktop {
    margin: 0 20px
  }

  @include mixinHelper.onTablet {
    display: none;
  }

  .container_img_plus_thumb {
    position: relative;

    .song_thumb {
      border-radius: 1rem;
    }

    .img_thumb {
      position: absolute;
      border-radius: 50%;
      bottom: 3px;
      right: -15px;
      width: 55px;
      height: 55px;
      margin-bottom: 0;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }


  img {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .station_info {
    max-width: 230px;

    h2 {
      color: var(--text-color);
      font-family: globalVariables.$dm-sans-bold, serif;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      color: var(--text-color);
    }
  }
}


.right_content {
  max-width: 850px;
  width: 100%;

  .station_details {
    .title_container {
      @include mixinHelper.onTablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      img {
        display: none;
        width: 100px;
        border-radius: 50%;

        @include mixinHelper.onTablet {
          display: block;
        }
      }

      .station_title {
        font-family: globalVariables.$dm-sans-bold, serif;
        font-size: 3rem;
        font-weight: 700;
        display: flex;
        color: var(--text-color);

        @include mixinHelper.onTablet {
          font-size: 1.7rem;
        }
      }
    }

    .nr_listeners_desktop {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 20px;
      color: var(--text-color);

      @include mixinHelper.onTablet {
        display: none;
      }
    }

    .nr_listeners_mobile {
      display: none;
      font-size: 0.8rem;
      font-weight: 400;
      margin-bottom: 20px;
      text-align: center;
      color: var(--text-color);

      @include mixinHelper.onTablet {
        display: block;
      }
    }

    .station_description {
      font-size: 0.9rem;
      line-height: 25px;
      font-weight: 400;
      margin-bottom: 30px;
      color: var(--text-color);

      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mixinHelper.onTablet {
        font-size: 0.9rem;
        line-height: 20px;
        height: 140px;
        -webkit-line-clamp: 7;
      }
    }
  }
}
