@use "public/styles/mixinHelper";
@use "public/styles/globalVariables";

.container {
  max-width: 1440px;
  padding: 70px;
  margin: 25px auto 0;
  background: #FFFBEF;
  height: 584px;
  border-radius: 50px;

  @include mixinHelper.onTablet {
    padding: 20px;
    height: 100%;
    border-radius: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;

  @include mixinHelper.onTablet {
    margin-left: 0;
    gap: 0;
  }

  .internal_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 90px;

    @include mixinHelper.onTablet {
      margin-left: 0;
    }

    a {
      font-size: 16px;
      font-weight: 500;
      height: fit-content;
      padding: 10px;
    }

    .logo {
      padding: 0;
    }

  }

  .external_links {
    display: flex;
    gap: 5px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

.content_section {
  display: flex;
  flex-direction: row;
  margin-top: 141px;
  height: 350px;

  @include mixinHelper.onTablet {
    margin-top: 50px;
  }
}

.station {
  .station_details {
    margin-left: 100px;
    @include mixinHelper.onTablet {
      margin-left: 20px;
    }

    .station_title {
      font-family: globalVariables.$dm-sans-bold, serif;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .station_description {
      max-width: 700px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      height: 100px;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .player_fixed {
      position: fixed;
      bottom: 25px;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      max-width: 560px;
      width: calc(100% - 50px);
    }

    .player_relative {
      height: 80px;
      margin-top: 50px;
    }
  }
}

.next_3_stations {
  position: relative;
  width: 50%;
  height: 248px;

  @include mixinHelper.onSmallDesktop {
    display: none;
  }

  a {
    img {
      object-fit: cover;
      border-radius: 100px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      position: absolute;
    }
  }

  a:nth-child(1) {
    img {
      height: 99px;
      width: 99px;
      right: 250px;
      bottom: 30px;
    }
  }

  a:nth-child(2) {
    img {
      height: 199px;
      width: 199px;
      right: 50px;
    }
  }

  a:nth-child(3) {
    img {
      right: 120px;
      bottom: -100px;
    }
  }
}