/* components/styles.module.scss */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdownButton {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  background: transparent;
  border: unset;
}

.themeButton {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  background: transparent;
  border: unset;
}

.buttonContent {
  display: flex;
  align-items: center;
}

.buttonContent span {
  margin-right: 8px;
}

.arrow {
  margin-left: auto;
  font-size: 0.8rem;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 5px;
  min-width: 160px;
  z-index: 1000;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.dropdownMenu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.1s;
  border-radius: 10px;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}

.dropdownMenu li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdownMenu li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
