@use "public/styles/mixinHelper";
@use "public/styles/globalVariables";

.station_item {
  @include mixinHelper.center-content;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
  max-width: 571px;
  max-height: 141px;
  padding: 15px 17px;
  border-radius: 18px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.20);
  position: relative;
  z-index: 1;
  background: var(--station-card-color);

  &[data-active="true"] {
    background-color: var(--bg-active-station);
    box-shadow: inset 0 0 0 1px var(--bg-active-station-border);
  }

  transition: scale 0.2s ease-out, background-color 0.2s ease, box-shadow 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .station_details .station_name {
        color: var(--text-hover-color);
      }
    }
  }

  &:active {
    scale: 0.995;
  }

  @include mixinHelper.onDesktop {
    max-width: 45%;
  }

  @include mixinHelper.onSmallDesktop {
    max-width: unset;
    margin: 0 25px;
  }

  @include mixinHelper.onTablet {
    margin: 0 15px;
    gap: 15px;
  }

  .image_container {
    img {
      border-radius: 21px;
      object-fit: cover;

      @include mixinHelper.onTablet {
        height: 70px;
        width: 70px;
        border-radius: 10px;
      }
    }
  }

  .station_details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 27px;
    height: 110px;
    min-width: 0;
    flex: 1;

    @include mixinHelper.onTablet {
      margin-right: 45px;
      height: 72px;
    }

    .station_name {
      display: flex;
      align-items: center;
      min-width: 0;
      font-family: globalVariables.$inter;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 5px;
      color: var(--text-color);
      transition: color 0.2s ease;

      @include mixinHelper.onTablet {
        font-size: 1.1rem;
      }
    }

    .song_name, .artist_name {
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 0;
      color: var(--subtext-metadata-color);
      line-height: 1.4;
    }

    .song_name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .total_listeners {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 17px;
    font-weight: 400;
    color: var(--subtext-metadata-color);

    svg {
      color: var(--subtext-metadata-color);
    }

    @include mixinHelper.onTablet {
      font-size: 14px;

      svg {
        position: relative;
        top: 3px;
        width: 15px;
      }
    }
  }

  .favourite_heart_container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;

    svg {
      color: var(--subtext-metadata-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        scale: 1.5;
      }
    }
  }

}
