@use "public/styles/mixinHelper";

.contactButtonPlayerIsOn {
  @include mixinHelper.onTablet {
    bottom: 125px !important;
  }
}

.contactButton {
  color: var(--text-color);
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);

  &:hover {
    opacity: 0.7;
  }


  @include mixinHelper.onTablet {
    right: 15px;
  }
}
