@use "public/styles/mixinHelper";

.contactButtonPlayerIsOn {
  @include mixinHelper.onTablet {
    bottom: 125px !important;
  }
}

.contactButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffb600;
  color: white;
  padding: 10px;
  border-radius: 14px;
  transition: 0.3s;

  &:hover {
    scale: 1.07;
  }
}
