.container_banner {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
  z-index: 1;
  padding: 0 20px;

  @media screen and (max-width: 768px) {
    gap: 0;
    padding: 0 20px;
  }

  .content_left {
    h1 {
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .apps_download {
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
    }
  }

  .QR_code {
    padding: 5px;
    background: #505bd0;
    border-radius: 10px;
    height: fit-content;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      display: block;
    }
  }
}