@use "public/styles/mixinHelper";
@use "public/styles/globalVariables";

.download_app_banner {
  padding-top: 100px;
  padding-left: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #c6eaff;
  position: relative;
  justify-content: space-between;
  max-width: 1440px;
  margin: 150px auto 0;

  @include mixinHelper.onDesktop {
    padding-top: 100px;
    flex-direction: row;
  }

  @include mixinHelper.dynamicBreakpoint(940px) {
    @include mixinHelper.center-content;
    flex-direction: column;
    padding-left: 0;
  }
}

.text_container {
  min-width: 560px;
  padding: 0 20px 20px;
  max-width: 625px;
  box-sizing: border-box;


  @include mixinHelper.onDesktop {
    padding: 0;
  }

  @include mixinHelper.onTablet {
    padding: 20px
  }

  @include mixinHelper.dynamicBreakpoint(940px) {
    width: fit-content;
    min-width: unset;
  }
}

.main_heading {
  font-family: globalVariables.$dm-sans-bold;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.sub_heading {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.link_container {
  margin-top: 5px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

.link_box {
  width: 33%;

  img {
    width: 100%;
    height: auto;
  }
}

.image_container {
  position: relative;
  width: 100%;
  margin-right: 90px;

  @include mixinHelper.dynamicBreakpoint(940px) {
    margin-right: 0;
    @include mixinHelper.center-content;
  }

  .iphone13_mock_image {
    height: auto;
    position: absolute;
    right: 100px;
    bottom: -60px;
    width: 100%;
    max-width: 524px;

    @include mixinHelper.onDesktop {
      max-width: 450px;
      right: 0;
    }

    @include mixinHelper.onSmallDesktop {
      display: none;
    }
  }

  .iphone13_mobile_image {
    display: none;
    width: 100%;
    max-width: 375px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -60px;

    @include mixinHelper.onSmallDesktop {
      max-width: 316px;
      display: block;
    }

    @include mixinHelper.dynamicBreakpoint(940px) {
      position: relative;
      bottom: -60px
    }

    @include mixinHelper.onMobile {
      max-width: 270px;
    }
  }
}

.qr_code {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 90px;
  height: 90px;

  @include mixinHelper.onSmallDesktop {
    display: none;
  }
}
