@use "public/styles/globalVariables";
@use "public/styles/mixinHelper";

.container {
  display: flex;
  flex-direction: column;
}

.favourite_section {
  max-width: 1540px;
  margin: 20px auto 0;
  width: calc(100% - 20px);

  h1 {
    max-width: 1200px;
    margin: 30px auto 15px;
    font-size: 22px;
    font-weight: 700;
    font-family: globalVariables.$dm-sans-bold;
    padding: 0 20px;
  }

  .stations_container {
    align-content: flex-start;
    min-height: 160px;

    @include mixinHelper.onSmallDesktop {
      margin: 0 3px 35px;
    }
  }
}

.search_section {
  display: flex;
  justify-content: end;
  max-width: 1230px;
  margin: 0 auto 0;
  width: 100%;
  gap: 10px;

  @include mixinHelper.onDesktop {
    width: unset;
    margin-right: 25px;
  }

  @include mixinHelper.onTablet {
    margin-right: 15px;
  }

  .search_container {
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    margin-top: 25px;

    &:hover, &:focus-within {
      max-width: 260px;
    }

    input, button {
      border-radius: 20px;
      border: none;
      height: 40px;
      padding: 0 15px;

      &:focus {
        outline: none;
      }
    }

    input {
      width: 100%;
      font-size: 16px;
    }

    .icon {
      height: 40px;
      padding-left: 10px;
      padding-right: 15px;
      cursor: pointer;
    }
  }
}

.no_results {
  margin: 0 20px;

  strong {
    font-size: 18px;
    font-weight: 700;
    font-family: globalVariables.$dm-sans-bold;
    margin-bottom: 10px;
  }
}


.stations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1230px;
  margin: 30px auto 0;
  width: 100%;
  min-height: 32vh;

  @include mixinHelper.onDesktop {
    justify-content: center;
  }
}

.favourite_cont {
  justify-content: start !important;
  min-height: 110px !important;

  .favorite_card {
    display: flex;
    max-width: 545px;
    gap: 25px;
    width: 100%;
    padding: 15px 17px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 16px;
    margin: 20px 0 20px 20px;
    line-height: 22px;

    @include mixinHelper.onTablet {
      margin-left: 0;
    }

    button {
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      border: 1px solid #e0e0e0;
      animation: pulse 8s infinite;
    }
  }
}

@keyframes pulse {
  0%, 37.5% {
    transform: scale(1.05);
    border: 2px solid black;
  }
  18.75% {
    transform: scale(1);
    border: 2px solid #e0e0e0;
  }
  37.5%, 100% {
    transform: scale(1.05);
    border: 2px solid black;
  }
}
