@use "public/styles/globalVariables";
@use "public/styles/mixinHelper";

.container {
  display: flex;
  flex-direction: column;
}

.favourite_section {
  max-width: 1540px;
  margin: 20px auto 0;
  width: calc(100% - 20px);

  h1 {
    max-width: 1200px;
    margin: 30px auto 15px;
    font-size: 22px;
    font-weight: 700;
    font-family: globalVariables.$dm-sans-bold;
    padding: 0 20px;
  }

  .stations_container {
    align-content: flex-start;
    min-height: 160px;
    margin-bottom: 25px;

    @include mixinHelper.onSmallDesktop {
      margin: 0 3px 35px;
    }
  }
}

.search_section {
  display: flex;
  justify-content: end;
  max-width: 1230px;
  margin: 0 auto 0;
  width: 100%;
  gap: 10px;

  .search_container {
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;

    input, button {
      border-radius: 20px;
      border: none;
      height: 40px;
      padding: 0 15px;
      max-width: 350px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .icon {
      height: 40px;
      padding-right: 15px;
      cursor: pointer;
    }
  }
}


.stations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1230px;
  margin: 30px auto 0;
  width: 100%;
  min-height: 32vh;

  @include mixinHelper.onDesktop {
    justify-content: center;
  }
}
