@use "public/styles/globalVariables";
@use "public/styles/mixinHelper";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourite_section {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;

  @include mixinHelper.onDesktop {
    width: calc(100% - 30px);
    padding: 0 15px;
    margin-bottom: 10px;
  }

  h1 {
    margin: 50px auto 15px;
    font-size: 22px;
    font-weight: 700;
    font-family: globalVariables.$dm-sans-bold;
    color: var(--text-color);
  }

}

.search_section {
  display: flex;
  justify-content: flex-end;
  max-width: 1230px;
  margin: 0 auto 0;
  width: 100%;
  gap: 10px;

  @include mixinHelper.onDesktop {
    width: unset;
    margin-right: 25px;
  }

  @include mixinHelper.onTablet {
    margin-right: 15px;
  }

  .search_container {
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    margin-top: 25px;
    background: var(--bg-search-a-radio);
    color: var(--text-color);

    &:hover, &:focus-within {
      max-width: 260px;
    }

    input, button {
      border-radius: 20px;
      border: none;
      height: 40px;
      padding: 0 15px;
      background: transparent;

      &::placeholder {
        color: var(--text-color);
      }

      &:focus {
        outline: none;
      }
    }

    input {
      width: 100%;
      font-size: 16px;
    }

    .icon {
      height: 40px;
      padding-left: 10px;
      padding-right: 15px;
      cursor: pointer;
      color: var(--text-color);
    }
  }
}

.no_results {
  color: var(--text-color);
  margin: 0 20px;

  strong {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    font-family: globalVariables.$dm-sans-bold;
    margin-bottom: 10px;
  }
}


.stations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1230px;
  margin: 30px auto 0;
  width: 100%;
}

.favourite_cont {
  .favorite_card {
    display: flex;
    max-width: 545px;
    gap: 8px;
    width: 100%;
    padding: 1rem 1.5rem;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    background: var(--bg-favourite-intro);
    border: 1px solid #fdae1c;
    border-radius: .75rem;
    align-items: center;

    @include mixinHelper.onTablet {
      margin-left: 0;
    }

    p {
      color: var(--text-color);
      font-size: 1rem;
      max-width: 400px;
      margin-right: auto;
    }

    button {
      padding: 10px;
      cursor: pointer;
      background: #fdae1c;
      color: #000;
      border: unset;
      border-radius: .375rem;
      font-weight: bold;
    }
  }
}
