@use "globalVariables";

body {
  background: var(--bg-body);
  font-family: globalVariables.$dm-sans, serif;
}

.apasa_aici_move {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: move_left_right 1.5s infinite;
  position: absolute;
  right: 45px;
  bottom: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fdae1c;
  color: var(--bg-favourite-intro);
  padding: 2px 8px;
  border-radius: 20px;

  svg {

    width: 30px;
  }
}

@keyframes move_left_right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

:root, :root[data-theme='dark'] {
  --bg-body: #121212;
  --bg-header-container: #1E1E1E;
  --bg-favourite-intro: #1A1A1A;
  --bg-search-a-radio: #121212;
  --station-card-color: #2A2A2A;
  --text-color: #E0E0E0;
  --subtext-metadata-color: #A8A8A8;
  --text-player-title: #FFFFFF;
  --bg-active-station: #333333;
  --radio-player-container-bg: #121212;
  --banner-install-app-bg: #1E1E1E;
  --radio-player-border: #4D4D4D;
}


/* Define the light theme variables */
:root[data-theme='light'] {
  --bg-body: #ffffff;
  --bg-header-container: #FFFBEF;
  --bg-favourite-intro: #FFFBEF;
  --bg-search-a-radio: #fff;
  --bg-active-station: #f3f2f2;
  --station-card-color: #ffffff;
  --text-color: #000000;
  --subtext-metadata-color: #656565;
  --text-player-title: #fff;
  --radio-player-container-bg: #232321;
  --banner-install-app-bg: #c6eaff;
  --radio-player-border: transparent;
}
