@use "globalVariables";

body {
  background: var(--bg-body);
  font-family: globalVariables.$inter;
}

.apasa_aici_move {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: move_left_right 1.5s infinite;
  position: absolute;
  right: 45px;
  bottom: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fdae1c;
  color: var(--bg-favourite-intro);
  padding: 2px 8px;
  border-radius: 20px;

  svg {

    width: 30px;
  }
}

@keyframes move_left_right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

:root, :root[data-theme='dark'] {
  --bg-body: #121212;
  --bg-header-container: #1E1E1E;
  --bg-favourite-intro: #1A1A1A;
  --bg-search-a-radio: #121212;
  --station-card-color: #1e1e1e;
  --text-color: #E0E0E0;
  --text-hover-color: #c0c0c0;
  --subtext-metadata-color: #A8A8A8;
  --header-subtext-color: #BEBEBE;
  --text-player-title: #FFFFFF;
  --bg-active-station: #2a2a2a;
  --bg-active-station-border: #3a3a3a;
  --radio-player-container-bg: #121212;
  --player-gradient-color: 0, 0, 0;
  --banner-install-app-bg: #1E1E1E;
  --radio-player-border: #393939;
  --star-color: #FFD700;
  --link-color: #D4A017;
  --link-hover-color: #E6B422;
}


/* Define the light theme variables */
:root[data-theme='light'] {
  --bg-body: #ffffff;
  --bg-header-container: #FFFBEF;
  --bg-favourite-intro: #FFFBEF;
  --bg-search-a-radio: #fff;
  --bg-active-station: #f0f0f0;
  --bg-active-station-border: #e0e0e0;
  --station-card-color: #ffffff;
  --text-color: #000000;
  --text-hover-color: #444444;
  --subtext-metadata-color: #656565;
  --header-subtext-color: #555555;
  --text-player-title: #fff;
  --radio-player-container-bg: #232321;
  --player-gradient-color: 255, 255, 255;
  --banner-install-app-bg: #c6eaff;
  --radio-player-border: transparent;
  --star-color: #E67E22;
  --link-color: #0066CC;
  --link-hover-color: #004C99;
}
