@font-face {
  font-family: "DMSans Bold";
  src: url("../fonts/DMSans_24pt-Bold.woff") format("woff");
}

@font-face {
  font-family: "DMSans Regular";
  src: url("../fonts/DMSans_24pt-Regular.woff") format("woff");
}
