@use "public/styles/mixinHelper";
@use "public/styles/globalVariables";

.container {
  max-width: 1440px;
  padding: 95px 70px;
  background: var(--bg-header-container);
  height: 462px;
  border-radius: 50px;
  position: relative;
  margin: 5rem auto 0;

  @include mixinHelper.onTablet {
    padding: 20px;
    height: 100%;
    border-radius: 0;
  }

  .vector_yellow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    @include mixinHelper.onSmallDesktop {
      display: none;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;

  @include mixinHelper.onTablet {
    margin-left: 0;
    align-items: center;
    gap: 10px;
  }

  .internal_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 90px;

    @include mixinHelper.onTablet {
      margin-left: 0;
    }

    a {
      font-size: 16px;
      font-weight: 500;
      height: fit-content;
      padding: 10px;
    }

    .logo {
      @include mixinHelper.center-content;
      font-size: 20px;
      font-weight: bold;
      gap: 0 15px;
      padding: 0;
    }

    h1 {
      color: var(--text-color);
    }
  }
}

.content_section {
  display: flex;
  flex-direction: row;
  margin-top: 141px;
  height: 350px;

  @include mixinHelper.onTablet {
    margin-top: 50px;
  }
}

.station {
  .station_details {
    margin-left: 100px;

    @include mixinHelper.onTablet {
      margin-left: 20px;
    }

    .station_title {
      font-family: globalVariables.$dm-sans-bold, serif;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 20px;
      color: var(--text-color);

      @include mixinHelper.onTablet {
        font-size: 1.7rem;
      }
    }

    .station_description {
      max-width: 537px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      height: 100px;
      color: var(--text-color);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mixinHelper.onTablet {
        font-size: 1rem;
        height: 80px;
      }
    }
  }
}
